-i https://pypi.org/simple
asgiref==3.7.2 ; python_version >= '3.7'
beautifulsoup4==4.12.2 ; python_full_version >= '3.6.0'
bootstrap4==0.1.0
django==4.2.4
django-bootstrap4==23.2
django-cleanup==8.0.0
easy-thumbnails==2.8.5
pillow==10.0.0 ; python_version >= '3.8'
psycopg2==2.9.7
python-decouple==3.8
soupsieve==2.4.1 ; python_version >= '3.7'
sqlparse==0.4.4 ; python_version >= '3.5'
tzdata==2023.3 ; sys_platform == 'win32'
